<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        p {
            margin-left: 15%;
        }

        h1 {
            margin-left: 15%;
        }
    </style>
</head>
<body>
    <h1 style=" text-align:center;" class="page-header" id="js-country"></h1>
    <div class="col-sm-10 text-left container">
        <p id="js-nativeName"></p>
        <p id="js-currency"></p>
        <p id="js-subRegion"></p>
        <p id="js-apital">Capital: </p>
        <p id="js-info">Info: </p>
        <p>Flag: </p>
        <div id="icon" style="width:100%;">
            <img id="flag" src="" alt="flag icon">
            <div class="forecast-container">
                <div class="today forecast">
                    <div class="forecast-header">
                        <div class="day">Today</div>
                        <div class="date" id="todaysDate"></div>
                    </div> <!-- .forecast-header -->
                    <div class="forecast-content" id="todaysForecast">
                        <div class="location" id="todaysWeather"></div>
                        <div class="degree">
                            <div class="num"></div>
                            <div class="forecast-icon" style="width:120px; height:150px">
                                @*<img src="images/icons/icon-1.svg" alt="" width="90">*@
                                <img id="wIcon" style="" src="" alt="weather icon" width="150" />
                            </div>
                        </div>
                        @*<p id="cWeather"> Current weather: </p>*@
                    </div>
                </div>
            </div>
            <form action="Info" method="POST">
                <div id="js-borderingCountries">
                    <h1>Bordering countries: </h1>
                </div>
            </form>
            <form action="Info" method="POST">
                <div id="js-selectCity">
                    <h1>Select another capital city: </h1>
                    <select name="selectedCity" id="dropDownCities" onchange="this.form.submit()">
                        <option value="None" selected="Selected"></option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-2 " style="background: #323544; padding: 20px; border-radius: 10px; padding-left:0px; padding-right:0px">
        <h3 style="margin-top: 25px; text-align: center;">5 day weather forecast </h3>
        <table>
            <tbody id="js-5dayForecast"></tbody>
        </table>
    </div>
</body>
<footer>

    @Html.ActionLink("Back to map", "Index", "Home", null, new { @class = "btn btn-danger", @style = "left: 0; bottom: 0; width: 100%; text-align: center;" })
</footer>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery-jvectormap-2.0.3/jquery-jvectormap-2.0.3.min.js")
    @Scripts.Render("~/Scripts/jquery-jvectormap-2.0.3/jquery-jvectormap-world-mill.js")
    <script>
        var country = '@(ViewBag.Country)';
        var capital = '@(ViewBag.Capital)';
    </script>
    @Scripts.Render("~/Scripts/info.js")

}
